@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.modes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modes > button {
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

.board-container {
  display: none;
  border: 1px solid black;
  text-align: center;
}

.column {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-collapse: collapse;
  cursor: pointer;
}

.buttons-con {
  display: flex;
  flex-direction: column;
}

.button {
  font-size: 0.9rem;
  padding: 10px;
  cursor: pointer;
}
